{% extends 'base.html.twig' %}

{% block title %}Hello ApitestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
<br>

<ul>
    {% for realm in realms %}
        <li>
            Name: {{ realm.name.en_US }}<br>
            Slug: {{ realm.slug }}<br>
        </li>
    {% endfor %}
</ul>

<br>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'H:/sym/test/src/Controller/ApitestController.php'|file_link(0) }}">src/Controller/ApitestController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'H:/sym/test/templates/apitest/index.html.twig'|file_link(0) }}">templates/apitest/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
